@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #917D7F #F8F8F8;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
   height: 10px;
   width: 10px;
}

*::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: #F8F8F8;
}

*::-webkit-scrollbar-track:hover {
   background-color: #F1F1F1;
}

*::-webkit-scrollbar-track:active {
   background-color: #F1F1F1;
}

*::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: #917D7F;
}

*::-webkit-scrollbar-thumb:hover {
   background-color: #917D7F;
}

*::-webkit-scrollbar-thumb:active {
   background-color: #7F6D6F;
}

h1,
h2 {
   font-family: var(--lovelace-font);
   color: #000000;
}

h3,
h4,
h5,
h6,
p,
a,
td {
   font-family: var(--tenorSans-font);
   color: #000000;
}

section:nth-child(odd) {
   background-color: #dbbec0;
}

section:nth-child(even) {
   background-color: #a2b8cf;
}

td:first-child {
   text-transform: uppercase;
}

.pageNumber {
   font-family: var(--brownSugar-font);
   color: #000000;
}