@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
   font-family: var(--lovelace-font);
   color: #000000;
}

h3,
h4,
h5,
h6,
p,
a {
   font-family: var(--tenorSans-font);
   color: #000000;
}

.pageNumber {
   font-family: var(--brownSugar-font);
   color: #000000;
}

section:nth-child(odd) {
   background-color: #dbbec0;
}

section:nth-child(even) {
   background-color: #a2b8cf;
}